<div ng-repeat="i in friends">
<div id="requests" class="col col-md-12 tab-pane fade in active" ng-show="user_friends">
      <div class="col-md-12">
        <div class="col-md-1 col-sm-2 col-xs-5">
          <img id="reqProfile" src="../../asets/user.svg"></img>
        </div>
        <div class="col-md-3">
          <h3><a href="/user/?id={{i.user}}" target="_blank">{{i.username}}</a></h3>
        </div>
      </div>
    </div>
</div>
<div class="alert alert-info" class="col col-md-12 col-xs-12" ng-show="friend_error" style="margin-top: 10px">
  <strong>No friends?</strong> Go and find some... <i class="fa fa-users"></i>
</div>
