<script>
  socket.on('chat message', function(msg,from,created){
    var message = $(
      '<ul class="chats">'+
			'<li class="you">'+
				'<div class="image">' +
					'<img src="../asets/unnamed.jpg" />' +
					'<b>'+ from +'</b>' +
				'</div>' +
				'<p>'+ msg +'<br><p1><font size="2">'+created+'</font></p1></p>' +
			'</li>'+
    '</ul>');

    $('.chatscreenNew').append(message);
    var container = $('.messageView');
    var height = container[0].scrollHeight;
    container.animate({scrollTop: height},1000);
    var currentMessageCount = document.getElementById('msgBadge').innerHTML;
    document.getElementById('msgBadge').innerHTML = parseInt(currentMessageCount, 10) - 1;
  });
</script>
<link href="/css/messages.css" rel="stylesheet" type="text/css">
<div ng-hide="messages_view">
<div class="toolbar col col-md-10">
  <button id="new_msg" class="btn btn-info col-md-2 col-sm-3" data-toggle="modal" data-target="#newMessage"><b>New Message <span class="fa fa-envelope"></span></button>

  <form ng-submit="quickSearch(1)">
		<div class="input-group col-md-6 col-sm-6" id="quicksearch">
			<input type="text" class="form-control" ng-model="quicksearch" ng-init="quicksearch=''" value="" placeholder="Search for conversation">
			<div style="cursor:pointer" ng-click="quickSearch(1)" class="input-group-addon"><i class="fa fa-search"></i></div>
		</div>
	</form>
</div>
<div ng-repeat="i in conversation" ng-hide="conversations">
<div id="requests" class="col col-md-12 col-sm-12 col-xs-12 tab-pane fade in active">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-1 col-sm-2 col-xs-3">
          <img id="reqProfile" src="../../asets/user.svg"></img>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-9">
          <p id="withUser" ng-if="i.participants[0] == sessionUser2"><span id="convoBadge" class="badge progress-bar-success">{{i.status}}</span> Conversation with: {{i.participants[1]}}</p>
          <p id="withUser" ng-if="i.participants[1] == sessionUser2"><span id="convoBadge" class="badge progress-bar-success">{{i.status}}</span> Conversation with: {{i.participants[0]}}</p>
        </div>
          <button class="btn btn-info" id="continue" ng-click="loadMessages(i.id, i.roomID, i.participants)"><i class="fa fa-comments"></i> Continue conversation</button>
      </div>
    </div>
</div>
<div ng-init="hideLoading()"></div>
</div>
<div ng-show="chat_view">
  <div class="col col-md-12 col-sm-12 col-xs-12 messageView">
    <!-- <input id="msg_input" type="text" class="form-control col-md-5" ng-model="message"  value="" placeholder="Message text..">
    <button class="btn btn-success">Send</button> -->
    <div ng-repeat="i in messages" ng-init="$last && scrollToBottom( )" class="chatscreenOld">
      <ul class="col col-xs-12 chats">
        <li class="col col-xs-12 person" ng-class="setPosition(i.from)">
          <div class="image">
            <img src='../asets/unnamed.jpg'/>
            <b>{{i.from}}</b>
          </div>
          <p>{{i.msg}}<br><p1><font size="2">{{i.created | date:'HH:mm:ss dd/MM/yy'}}</font></p1></p>

        </li>
      </ul>
    </div>
    <div class="chatscreenNew">
    </div>
    <footer>
    <form class="col col-xs-12">
      <div>
      <textarea class="col col-md-4 col-sm-6 col-xs-8" id="chatmessage" autocomplete="off" placeholder="Write something.."></textarea>
    </div>
    <div class="col col-md-2 col-sm-2 col-xs-4">
			<button type="button" class="btn btn-success" id="submit" ng-click="sendChat()">Send</button>
    </div>
    </form>
  </footer>
  </div>
</div>
<div class="modal fade" id="newMessage" role="dialog">
    <div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img width="100px" height="40px" alt="Brand" src="../../asets/logo_title.svg">
</div>
  <form>
<div class="modal-body">
    <div id="quicksearch" class="input-group col-md-12">
    <input id="to" ng-model="to" ng-model-options="{debounce: 100}"
    uib-typeahead="friend as friend.username for friend in friends | filter:$viewValue | limitTo:8"
    class="form-control ng-valid ng-dirty ng-not-empty ng-touched ng-valid-editable"
    aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-82-963" style="" type="text" placeholder="Send message to..." required>
      <div style="cursor:pointer" ng-click="" class="input-group-addon"><i class="fa fa-search"></i></div>
    </div>
  <div class="form-group">
    <textarea class="form-control" id="message" rows="6" cols="60" ng-model="message" placeholder="Message.." required></textarea>
  </div>
</div>
<div class="modal-footer">
<input type="submit" class="btn btn-success" value="Send" ng-click="sendMessage()">
  <button type="button" class="btn btn-warning" data-toggle="modal" data-dismiss="modal">Cancel</button>
</div>
</form>
</div>
</div>
</div>
<div id="noMessages" class="alert alert-info" class="col col-md-12 col-xs-12" ng-show="msg_err" style="margin-top: 10px">No conversations found... <i class="fa fa-users"></i>
</div>
