<link href="/css/mygames.css" rel="stylesheet" type="text/css">
<ul class="list" ng-show="mygames">
  <li class="list_item" ng-repeat="i in games">
    <figure class="list_item_inner">
      <div class="circle" ng-click="removeGame(i)">
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
      </div>
      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{i.cover}}" err-src="../asets/no-image-found.gif"/>
      <figcaption><h3>{{i.name}}</h3></figcaption>
      <p class="platform">Platfrom: </p><span class="label label-primary platform"><i class="fa fa-gamepad" aria-hidden="true"></i> {{i.platform}}</span>
    </figure>
  </li>
</ul>
<div class="alert alert-info" class="col col-md-12 col-xs-12" ng-show="games_error">
  <strong>Oh snap!</strong> No games found. Go and add some! <i class="fa fa-gamepad"></i>
</div>
