<!doctype html>
<html ng-app="gameApp">
<head>
	<title>Games</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href="/css/games.css" rel="stylesheet" type="text/css">
	<link href="/css/profile.css" rel="stylesheet" type="text/css">
	<link href="/css/heart_animation.css" rel="stylesheet" type="text/css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script src="js/controller/searchCtrl.js"></script> <!-- load up our controller -->
	<script src="js/services/searchService.js"></script> <!-- load our game service -->
	<script src="/js/searchCore.js"></script> <!-- load our main application -->
</head>
<body ng-controller="searchGamesCtrl">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="logo" src="/asets/logo.svg" class="svg"><img id="title" src="/asets/localGame.svg" class="svg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/profile">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/games">Games</a></li>
				<li><a href="/map">Map</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

				<li>
					<a id="profile_link" href="/profile"><i id="profile" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
				</li>
        <li id="logout">
					<a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<main>
    <div class="content">
			<!-- <p>{{gameID}}</p>
			<p>{{name}}</p>
			<p>{{cover}}</p> -->
			<div class="col-md-12 centerBlock">
				<div class="">
					<form class="form-inline" role="form">
						<div class="form-group col-sm-10 col-md-4 col-md-offset-4 col-xs-9">
							<input type="text" class="form-control input-md" placeholder="Search game" ng-model="search">
						</div>
						<div class="form-group col-xs-2">
							<button type="submit" class="btn btn-primary" ng-click="searchGame()">Search</button>
						</div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="masonary-row row">
						<div ng-repeat="i in games">
							<div class="col-xs-6 col-sm-6 col-lg-3">
								<div class="thumbnail ">
									<div class="circle" ng-click="addGame(i); disable = !disable">
										<i ng-class="disable ? 'fa fa-check' : 'fa fa-plus'"></i>
									</div>
									<img src="http://res.cloudinary.com/igdb/image/upload/t_cover_big_2x/{{i.cover.cloudinary_id}}" onerror="if (this.src != 'error.jpg') this.src = 'http://www.omgchrome.com/wp-content/uploads/2015/06/chrome-trex-dinosaur.jpg'">
								<div class="caption">
									<h4>{{i.name}}</h4>
									<p class="flex-text text-muted"></p>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
     </div>
		 <footer>

		 		<div class="text-center">
		 			Made with <span class="entypo-heart"> by Me</span>
		 		</div>
		 	</footer>
</body>
</html>
