<!doctype html>
<html ng-app="gameApp">
<head>
    <meta charset="UTF-8">
    <title>Map-view</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/css/map.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhWehRQwWPVcNkrTo4Wfcxl9YNZfsvycM"></script>

    <!-- JS Source -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <script src="/js/components/angularjs-geolocation.min.js"></script>
    <script src="//cdn.jsdelivr.net/jdenticon/1.3.2/jdenticon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>
    <!-- Angular Files -->
    <script src="/js/app.js"></script> <!-- load our main application -->
    <script src="js/controller/searchCtrl.js"></script> <!-- load up our controller -->
    <script src="js/services/searchService.js"></script> <!-- load our game service -->
    <script src="js/services/jdenticonService.js"></script> <!-- load our game service -->
    <script src="js/controller/mapCtrl.js"></script>
    <script src="/js/gservice.js"></script>
    <script src="/js/directive.js"></script>

</head>
<body ng-controller="mapCtrl">
<div navbar></div> <!--navbar directive-->
  <div class="container">
      <!-- Map and Side Panel -->
      <div class="row content">
          <!-- Google Map -->
          <div class="col-md-10">
              <div id="map"></div>
          </div>
          <!-- Side Panel -->
          <div class="col-md-2">
            <b><p>Search for other users of localGame</p><b>
              <div class="panel panel-default">

                  <!-- Panel Body -->
                  <div class="panel-body">
                      <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                      <form name ="addForm" novalidate>
                          <div class="form-group">
                            <label for="distance">Location <i class="fa fa-location-arrow" aria-hidden="true"></i></label>
                            <input type="text" class="form-control" id="location" placeholder="City, Country or Postcode" ng-model="formData.location">
                          </div>
                          <div class="form-group">
                            <label for="distance">Max. Distance (miles)</label>
                            <input type="text" class="form-control" id="distance" placeholder="100" ng-model="formData.distance">
                          </div>
                          <div class="form-group">
                              <label for="latitude">Current Latitude</label>
                              <input type="text" class="form-control" id="latitude" value="51.511" ng-model="formData.latitude" readonly>
                              <label for="longitude">Current Longitude</label>
                              <input type="text" class="form-control" id="longitude" value="-0.137" ng-model="formData.longitude" readonly>
                          </div>
                          <button type="submit" class="btn btn-success btn-block" ng-click="queryUsers()" ng-disabled="addForm.$invalid">Search</button>
                      </form>
                  </div>
              </div>
              <p ng-show="usercount">Users found: {{queryCount}}</p>
          </div>
      </div>
      <hr/>
  </div>

</body>
</html>
