<!doctype html>
<html ng-app="gameApp">
<head>
	<title>User profile</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2196F3">
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" type="image/png" href="/asets/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href="/css/navbar.css" rel="stylesheet" type="text/css">
	<link href="/css/user.css" rel="stylesheet" type="text/css">
	<link href="/css/heart_animation.css" rel="stylesheet" type="text/css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/jdenticon/1.3.2/jdenticon.min.js"></script>

	<script src="/js/controller/navbarCtrl.js"></script> <!-- load up our controller -->
	<script src="/js/controller/userCtrl.js"></script> <!-- load up our controller -->
	<script src="/js/services/userService.js"></script> <!-- load our game service -->
	<script src="/js/services/jdenticonService.js"></script> <!-- load our game service -->
	<script src="/js/userCore.js"></script> <!-- load our main application -->
	<script src="/js/directive.js"></script>

</head>
<div navbar></div>
<body ng-controller="userCtrl">
	<main>
		<div class="content">
			<div id="profile" class="col col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-1 col-sm-2 col-xs-4">
					<canvas id="userIdenticon" width="80" height="80" />
				</div>
				<div id="username" class="col col-md-3 col-sm-3 col-xs-1">
					<b><h2>{{user}}</h2><b>
				</div>
				<div id="request" class="col col-md-2 col-sm-3 col-xs-2 col-sm-offset-3 col-md-offset-5">
					<button id="friend" ng-show="friend_btn" type="submit" ng-class="sent? 'btn btn-success' : 'btn btn-primary'" ng-click="sendFriendRequest(); sent = !sent">
						<span ng-hide="sent"><i class="fa fa-plus" aria-hidden="true"></i> Send friend request</span>
						<span ng-show="sent"><i class="fa fa-check" aria-hidden="true"></i> Request sent</span>
					</button>
					<button id="friend" ng-show="friend_btn_positive" type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Friend</button>
				</div>
			</div>
			<ul class="list" >
			  <li class="list_item" ng-repeat="i in games">
			    <figure class="list_item_inner">
						<button ng-class="change? 'btn btn-success trade' : 'btn btn-primary trade'" ng-click="sendGameRequest(i); change = !change; send_button = true" ng-disabled="send_button">
							<span ng-hide="change"><i class="fa fa-star" aria-hidden="true"></i> Trade</span>
							<span ng-show="change"><i class="fa fa-check" aria-hidden="true"></i> Sent</span></button>
			      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{i.cover}}" alt="Cover Image" err-src="../asets/no-image-found.gif"/>
			      <figcaption><h3>{{i.name}}<h3></figcaption>
						<div ng-if="i.platform != null"><p class="platform">Platfrom: </p><span class="label label-primary platform"><i class="fa fa-gamepad" aria-hidden="true" ></i> {{i.platform}}</span></div>
						<div ng-if="i.platform == null"><p class="platform">Platfrom: </p><span class="label label-primary platform"><i class="fa fa-gamepad" aria-hidden="true"></i> Unknown</span></div>
					</figure>
			  </li>
				<div class="alert alert-info" id="error" class="col col-md-12 col-xs-12" ng-show="games_error" style="margin-top: 10px">
				  <strong>Hmmmm...</strong> Looks like this user hasn't added any games! <i class="fa fa-frown-o"></i>
				</div>
			</ul>
	</div>
	<div footer></div>
</body>
</html>
