@media screen and (max-width: 1920px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 20%;
    }
}
@media screen and (max-width: 1024px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 25%;
    }
}
@media screen and (max-width: 720px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 33.333%;
    }
}

@media screen and (max-width: 640px){
    h2 {
        font-size: 30px;
    }
    .list_item {
      width: 50%;
    }
}

@media screen and (max-width: 320px){
    h2 {
        font-size: 28px;
    }
    .list_item {
      width: 50%;
      float: none;
    }
}
body {
  background-image: url("../asets/profile_background_optimized.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.centerBlock {
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}
html,
body {
  height: 96%;
  margin: 0;
  min-height: 96%;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0px auto;
  max-width: 1200px;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.thumbnail {
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

footer {
  /*background: #2980b9;*/
  color: #fff;
  text-align: center;
}
.fa-check {
  color:  #03a9f4;
}
.circle{
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  padding: 11px 14px;
  background: #ffee4d;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}
.list {
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.list_item {
  padding: 0.625rem;
  padding-top: 15px;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.list_item img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
}
.list_item_inner {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 2px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.list_item figcaption {
  padding: 1.25rem;
}
figure {
  padding: 0;
  margin: 0;
}

.form-inline .form-group {
  margin-bottom: 10px;
}

#search_bar {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#search {
  margin: 10px;
}
#searchbar {
  margin-bottom: 10px;
}
#playstation {
  height: 15px;
  width: 20px;
  margin-right: 10px;
}
#xbox {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
#steam {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
#nintendo {
  height: 20px;
  width: 70px;
}
#summary {
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 6.5em;
}
.nopadding {
  padding-right: 0px;
  padding-left: 0px;
}
#noResults {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  margin-top: 2px;
  padding: 5px;
  border: 1px solid black;
}
.dropdown-menu {
  max-width: 70%;
  overflow: hidden;
}
