@font-face {
  font-family: 'entypo';
  src: url('../asets/entypo.woff') format('woff');
}
.entypo-heart:before{
  content:"\2665";
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 14pt;
  color: red;
}
