
body {
background: #2980b9; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a:hover {
  color:  #00bfa5;
  text-decoration: none;
}

@media (min-width: 0px) {
  h4 {
    font-size: 12px;
  }

  #logo {
    height: 50px;
    width: 50px;
    margin-bottom: 2%;
    margin-left: 20%;
  }
  #title {
    height: 50px;
    width: 100px;
    margin-top: 6%;
    margin-bottom: 3%;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 18px;
  }
  #logo {
    height: 80px;
    width: 80px;
    margin-bottom: 2%;
  }
  #title {
    height: 50px;
    width: 150px;
    margin-top: 5%;
    margin-bottom: 3%;
  }

}
@media (min-width: 1280px) {
  #logo {
    height: 100px;
    width: 100px;
    margin-bottom: 2%;
    margin-left: 10%;
  }
  #title {
    height: 50px;
    width: 150px;
    margin-top: 8%;
    margin-bottom: 3%;
  }
  .voffset {
    margin-left: 4%;
  }
}


.button { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */

    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    text-decoration: none;
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */

}

.twitterBtn:hover{
      text-decoration: none;
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      text-decoration: none;
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

#social {
  display: inline-block;
}
.vcenter {
margin-top: 7%;
}
#moto {
  color: white;
  margin-left: 5%;
}
