html, body{
  height:100%;
  background-image: url("../asets/main_optimized.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.container-fluid{
  height:100%;
  width: 100%;
  display:table;
  width: 100%;
  padding: 0;
  margin: 0px auto;
  margin-top: 10%;
}

.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}
.col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
a:hover {
  color:  #00bfa5;
  text-decoration: none;
}

@media (min-width: 0px) {
  h4 {
    font-size: 12px;
  }
  #logo {
    margin-left: 5%;
    padding: 15px;
  }
  #social {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  #social {
    margin-left: 40px;
  }
  #logo {
    margin-left: 5%;
  }
}
#form {
  border-top: 1px solid white;
}
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd;

    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{
    font-family: "FontAwesome";
    content: "\f09a";
}

.facebookBtn:hover{
    text-decoration: none;
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
}


.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099";

}

.twitterBtn:hover{
      text-decoration: none;
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5";
}

.googleplusBtn:hover{
      text-decoration: none;
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

#social {
  display: inline-block;
}

.clear {
  display: inline-block;
}
.nopadding {
  padding-right: 0px;
  padding-left: 0px;
}
#app_logo {
  height: 55px;
  width: 300px;
}
