.navbar-brand {
  padding: 3px 3px !important;
}

.nav > li > a {
  padding: 15px 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#identicon {
  margin-top: 4px;
}
#content {
  display: inline-block;
}
#profile_pic {
  display: inline-block;
}
#user {
  display: inline-block;;
}
#user_text {
  color: white;
  margin: 0 10px;
}
#logout {
  display: inline-block;;
}
#logout_icon {
  color: white;
  padding-left: 15px;
}

#logo {
  height: 30px;
  width: 180px;
  margin-top: 5px;
}

#username {
  color: white;
  margin: 0px;
  margin-right:15px;
  display: inline-block;
}
