@media screen and (max-width: 1920px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 20%;
    }
}
@media screen and (max-width: 1024px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 25%;
    }
}
@media screen and (max-width: 720px){
    h2 {
        font-size: 38px;
    }
    .list_item {
      width: 33.333%;
    }
}

@media screen and (max-width: 640px){
    h2 {
        font-size: 30px;
    }
    .list_item {
      width: 50%;
    }
}

@media screen and (max-width: 320px){
    h2 {
        font-size: 28px;
    }
    .list_item {
      width: 100%;
      float: none;
    }
}
body {
    background-image: url("../asets/profile_background_optimized.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
}
a {
  color: black;
}
.dropdown-menu > li > a:hover {
  background-color:  #03a9f4;
}

.centerBlock {
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
}
html,
body {
  height: 96%;
  margin: 0;
  min-height: 96%;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0px auto;
  max-width: 1200px;
  background-color: whitesmoke;
}
footer {
  /*background: #2980b9;*/
  color: #fff;
  text-align: center;
}
.thumbnail {
  float: none;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}
#profile {
display: inline-block;
background: #43cea2; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}
#requests {
  background-color: white;
  display: inline-block;
  margin-top: 10px;
  -webkit-box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.75);
box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.75);
}
#username {
  margin-top: 4px;
}
.tab_content {
  width: 100%;
}
#reqProfile {
  margin-top: 10px;
  margin-bottom: 10px;
  height:40px;
  width: 40px;
}
.doButton {
  display: inline-block;
  margin-top: 15px;
}
a:hover {
  text-decoration: none;
}
#reqContainer {
  display: block;
}
#quicksearch {
  padding-bottom: 10px;
}
.toolbar {
  padding: 10px;
}
#msg_input {
  display: inline-block;
}
#message {
text-align:center;
display: block;
margin:0px auto;
width: 750px;
height: 300px;
}
.me {
	clear:both;
	float:left;
  margin-bottom:10px;
  margin-left: 80px;
}
.you {
	clear:both;
	float:right;
	margin-bottom:10px;
  margin-right: 80px;
}
.chats .me p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}
.chats .you p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-right:20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}
.you .image{
	float:right;
}
.image b {
	overflow: hidden;
	display: block;
	clear: both;
	padding-top: 7px;
}

.image i{
	font-size: 12px;
	line-height: 1.2;
	display: block;
	opacity: 0.8;
	padding-top: 4px;
}
.image {
	clear:both;
	float:left;
	height: 110px;
	width: 80px;
	text-align:center;
	overflow: hidden;
}

.image img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.chats {
	list-style-type: none;
	margin-top:10px;
}
#chatform {
	width:700px;
	margin: 0 auto;
}
#chatmessage {
	width: 550px;
	height: 80px;
	display: block;
	float:left;
	margin: 0 auto;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding-left: 20px;
	padding-top: 20px;
	resize: none;
	font:inherit;
	color:black;
  margin-bottom: 10px;
}
.chatscreenOld{
	margin: 0 auto;
	overflow:hidden;
}
.chatscreenNew{
	margin: 0 auto;
	overflow:hidden;
}
.messageView {
  overflow-y: scroll;
  height: 650px;
  width: 100%;
}
#submit {
  height: 50px;
  width: 100px;
  font-size: large;
}
#withUser {
  margin-top: 20px;
}
#continue {
  float: right;
  margin-top: 10px;
}
#noMessages {
  display: inline-block;
}
